/*     header     */
body{
    margin: 0;
}
h1{
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 800;
}
header{
    background-color: #141816;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 160px;
    margin: 0;
}
#logo{
    position: absolute;
    width: 225px;
    left: 10px;
    
}
.leftrow{
    width: 245px;
    padding-top: 20px;
    height: calc(100vh - 160px); /* altura da tela menos a altura do header */
    position: fixed;
    top: 160px;
    background-color: #e25659;
}
.leftrow ul{
    padding: 0px;
    list-style-type: none;
}
.leftrow li{
    margin-top: 30px;
}
.leftrow button{

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;

    background-color: #e25659;
    border-color: #d14e50;
    color: white;
    
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 800;
    height: 75px;
    width: 245px;   

    transition: background-color 0.6s, color 0.6s; 

}
.leftrow button:hover{
    background-color: #ad3133;
    color: rgb(197, 188, 188);
    transition: background-color 0.6s, color 0.6s;
    cursor: pointer;
}
.leftrow img{
    display: flex;
    align-items: left;
    margin-left: 20px;
}
.leftrow span{
    margin-right: 40px;
}

footer img {
    width: 100%;
    z-index: 2000;
    position: absolute;

}

/*      home      */

.container{
    display: flex;
    padding-top: 200px;
    background-color: #2A2F36;
    color: #FFFFFF;
}
.content{
    margin-left: 300px;
    margin-right: 60px;
    text-align: justify;
    font-family: "Poppins";
    font-size: 20px;
}

.p1{
    opacity: 0;
    transform: translateY(50px);
    animation: aparecetexto 0.7s ease-in-out forwards;
}
.p2{
    opacity: 0;
    transform: translateY(60px);
    animation: aparecetexto 2s ease-in-out forwards;
}

.p3{
    opacity: 0;
    transform: translateY(20px);
    animation: aparecetexto 4s ease-in-out forwards;
}

@keyframes aparecetexto {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,

select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 270px;

}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    resize: vertical;
}



.error {
    color: #e25659;
    font-size: 14px;
}



/*     search     */
 
.content-search{
    margin-left: 300px;
    margin-right: 60px;
    text-align: justify;
    padding-bottom: 125px;
    font-family: "Poppins";
    font-size: 20px;
}
.content-search table{
    width: 700px;
}
div#table{
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-column-search{
    width: 105px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
#button-column-search button{
    height: 105px;
    width: 90px;
    margin-top: 10px;
    font-family: 'Poppins';
    font-weight: 800;
    letter-spacing: 1.5px;
    color: white;
    border: none;
    box-shadow: 2px 3px 0px 1px #141313;
    transition: all 0.3s;
}
#button-column-search button.g{
    background-color: #6d9b65;
}
#button-column-search button.g:hover{
    
    background-color: #52744c;
    color: rgb(183, 197, 183);
    transition: all 0.3s;
}
#button-column-search button#del{
    background-color: #e25659;
}
#button-column-search button#del:hover{
    background-color: #ad2e30;
    color: rgb(183, 197, 183);
    transition: all 0.3s;
}
#filt{
    background-color: #e25659;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    letter-spacing: 3px;
    border: none;
    box-shadow: none;
    transition: color 0.2s, background-color 0.2s;
}
#filt:hover{
    cursor: pointer;
    background-color: #ad383a;
    color: rgb(156, 144, 144);
    transition: color 0.2s, background-color 0.2s;
}
table {
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    font-size: 18px;
    padding: 10px;
    height: 20px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #e25659;
    color: white;
}
table tr {
    transition: background-color 0.15s;
}
table tr:nth-child(even) {
    background-color:  #141816;
}

table tr:hover {
    background-color: rgb(77, 80, 94);
    transition: background-color 0.15s;
}

table td input[type="radio"] {
    margin-right: 10px;
}



/*      form      */
.formrow{
    display: block;
    width: 160%;
    padding-bottom: 25px;
}
#frequencia-nome{
    font-size: 16px;
    display: inline-block;
    margin-bottom: -10px;
    margin-top: -10px;
}
/*      proc      */
.content-proc{
    
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: flex-start;
    
    margin-left: 300px;
    margin-right: 60px;
    padding-top: 0;
    text-align: center;
    padding-bottom: 250px;
    font-family: "Poppins";
    font-size: 20px;
}
.proc-title{
    padding-bottom: 30px;
} 
.joia{
    margin-top: -20px;
    margin-bottom: 50px;
    height: 120px;
    width: 100%;
}
#back-proc{
    width: 350px;
    height: 50px;
    align-self: center;
    border-radius: 20px;
    font-family: "Poppins";
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: #e25659;
    color: white;
    border: none;
    box-shadow: 0px 5px 0px 1px #181717;
    transition: height 0.2s, margin-top 0.2s, box-shadow 0.3s, color 0.2s, background-color 0.2s;
}
#back-proc:hover{
    cursor: pointer;
    margin-top: 5px;
    height: 45px;
    box-shadow: none;
    background-color: #c94d4f;
    color: rgb(192, 182, 182);
    transition: height 0.2s, margin-top 0.2s, color 0.2s, background-color 0.2s;
}