/*     header     */
body{
    margin: 0;
}
h1{
    font-family: "Poppins";
    font-size: 90px;
    font-weight: 800;
}
header{
    background-color: #141816;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
}
#logo{
    position: absolute;
    width: 225px;
    left: 10px;
    
}
.leftrow{
    width: 245px;
    padding-top: 20px;
    height: calc(100vh - 160px); /* altura da tela menos a altura do header */
    position: fixed;
    top: 160px;
    background-color: #e25659;
}
.leftrow ul{
    padding: 0px;
    list-style-type: none;
}
.leftrow li{
    margin-top: 50px;
}
.leftrow button{
    
    transition: background-color 0.6s, color 0.6s;
    border: none;
    height: 75px;
    width: 245px;    

    background-color: #e25659;
    border-color: #d14e50;
    color: white;
    font-family: "Poppins";
    font-size: 23px;
    font-weight: 800;

}
.leftrow button:hover{
    background-color: #ad3133;
    color: rgb(197, 188, 188);
    transition: background-color 0.6s, color 0.6s;
}


/*      home      */
.container{
    display: flex;
    margin-top: 200px;
}
.content{
    margin-left: 300px;
    margin-right: 60px;
    text-align: justify;
    font-family: "Poppins";
    font-size: 20px;
}


/*     search     */



/*      form      */
.formrow{
    display:block;
}
/*      proc      */
